<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create New celebrity</a>
<a href="/celebrities">Celebrities list</a>
<a href="/movies/create">Create New movie</a>
<a href="/movies">Movies list</a>